openapi: 3.0.3
info:
  title: QwicbookTwidget
  version: 1.0.0
  contact: {}
servers:
  - url: https://d300b.twidget.io
  - url: http://ws.eighty20technologies.com
paths:
  /checkusertype:
    get:
      summary: checkusertype
      description: >-
        Determines the user type for a given email address. The UserTy\[e
        attribute could either hold `Provider` or `User` as a value


        ### Purpose


        Use this endpoint to look up which **UserType** (e.g., `Provider`) is
        associated with the provided email. The response also includes basic
        profile identifiers (IDs and contact fields) for the matched user.


        ### Query parameters


        | Name | Type | Required | Description |

        | --- | --- | --- | --- |

        | `Email` | string | Yes | Email address to check. Must be URL-encoded
        when it contains special characters (e.g., `+`, spaces). |


        ### Example request


        ``` http

        GET https://d300b.twidget.io/checkusertype?Email=drdeepakhbk@gmail.com

         ```

        ### Example 200 response


        ``` json

        [
          {
            "AdminUserMasterID": 1,
            "City": "Mumbai",
            "CityID": 9,
            "Mobile": "8380021488",
            "UserType": "Provider"
          }
        ]

         ```

        ### Example 200 response: When User Not Found


        Take a note of the `AdminUserMasterID` attribute returning `0` if the
        data is not found.


        ``` json

        [
            {
                "AdminUserMasterID": 0,
                "City": null,
                "CityID": 0,
                "Mobile": "0",
                "UserType": "User type not found"
            }
        ]

         ```
      operationId: checkusertype
      parameters:
        - name: Email
          in: query
          schema:
            type: string
            example: drdeepakhbk@gmail.com
      responses:
        '200':
          description: checkusertype
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '96'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:12:41 GMT
            ETag:
              schema:
                type: string
                example: W/"60-BlQaC41vL8dlWsZy/0WbPqZ1Mq4"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    AdminUserMasterID:
                      type: number
                      example: 1
                    City:
                      type: string
                      example: Mumbai
                    CityID:
                      type: number
                      example: 9
                    Mobile:
                      type: string
                      example: '8380021488'
                    UserType:
                      type: string
                      example: Provider
                example:
                  - AdminUserMasterID: 1
                    City: Mumbai
                    CityID: 9
                    Mobile: '8380021488'
                    UserType: Provider
              examples:
                checkusertype:
                  value:
                    - AdminUserMasterID: 1
                      City: Mumbai
                      CityID: 9
                      Mobile: '8380021488'
                      UserType: Provider
      security:
        - {}
  /authenticate:
    get:
      summary: authenticate
      description: >-
        ### Authenticate


        Authenticates a user using an email address and password and returns a
        boolean indicating whether the credentials are valid.


        #### Purpose


        Use this endpoint to verify a user’s credentials before allowing access
        to protected flows.


        #### Required query parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `Email` | string | Yes | User’s email address. |

        | `Password` | string | Yes | User’s password. |


        #### Example call


        `GET`
        [<code>https://d300b.twidget.io/authenticate?Email={{email}}&amp;Password={{password}}</code>](https://d300b.twidget.io/authenticate?Email=%7B%7Bemail%7D%7D&Password=%7B%7Bpassword%7D%7D)


        Expected response


        - **200 OK**
            
        - Body: boolean
            
            - `true` — credentials are valid
                
            - `false` — credentials are invalid
      operationId: authenticate
      parameters:
        - name: Email
          in: query
          schema:
            type: string
            example: drdeepakhbk@gmail.com
        - name: Password
          in: query
          schema:
            type: string
            example: development
      responses:
        '200':
          description: authenticate
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '4'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:13:09 GMT
            ETag:
              schema:
                type: string
                example: W/"4-X/5TO4MPCKAyY0ipFgr6/IraRNs"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/octet-stream:
              examples:
                authenticate:
                  value: 'true'
      security:
        - {}
  /getuser:
    get:
      summary: getuser
      description: >-
        ## Purpose


        Retrieve Doctor details for a specific AdminUserMasterID (doctor's Id)


        ## Base URL + Endpoint


        - **Base URL:** `https://d300b.twidget.io`
            
        - **Endpoint:** `GET /getuser`
            

        ## Required Query Parameter


        | Name | Type | Required | Example |

        | --- | --- | --- | --- |

        | `AdminUserMasterId` | integer | Yes | `1` |


        ## Example Request


        ``` http

        GET https://d300b.twidget.io/getuser?AdminUserMasterId=1

         ```

        ## Example 200 Response (key fields)


        The response is a JSON array of user objects. Common fields include:


        - **Identifiers:** `AdminUserMasterID`, `APServiceID`
            
        - **Status/flags:** `Active`, `IsUserAvailable`, `UserType`
            
        - **Profile:** `FirstName`, `LastName`, `DisplayName`,
        `UserQualification`, `UserCategory`
            
        - **Contact:** `Email`, `Mobile`
            
        - **Location:** `Address1`, `Address2`, `City`, `State`, `AreaID`,
        `CityID`, `StateID`, `CountryID`
            
        - **Other:** `DeviceID`, `ShopCount`, `ShopNames`
            

        Sensitive field:


        - `Password` **is returned** in the response (sensitive). Treat as
        confidential and avoid exposing or logging it.
            

        ## Example Response (200)


        ``` json

        [
            {
                "APServiceID": 0,
                "Active": "1",
                "Address1": "75 Hatkesh Society",
                "Address2": "Juhu Scheme",
                "AdminUserMasterID": 1,
                "AreaID": 10,
                "City": "Mumbai",
                "CityID": 9,
                "CountryID": 1,
                "DeviceID": null,
                "DisplayName": null,
                "Email": "drdeepakhbk@gmail.com",
                "FirstName": "Dr. Deepak",
                "IsUserAvailable": false,
                "LastName": "Kansara",
                "Mobile": "8380021488",
                "Password": "d*********t",
                "ShopCount": 0,
                "ShopNames": null,
                "State": "MH",
                "StateID": 2,
                "UserCategory": null,
                "UserQualification": null,
                "UserType": "Provider"
            }
        ]

         ```
      operationId: getuser
      parameters:
        - name: AdminUserMasterId
          in: query
          schema:
            type: string
            example: '1'
      responses:
        '200':
          description: getuser
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '471'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:13:32 GMT
            ETag:
              schema:
                type: string
                example: W/"1d7-GNDYMopx8kBjnBlOGiPKqS9zXL0"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    APServiceID:
                      type: number
                      example: 0
                    Active:
                      type: string
                      example: '1'
                    Address1:
                      type: string
                      example: 75 Hatkesh Society
                    Address2:
                      type: string
                      example: Juhu Scheme
                    AdminUserMasterID:
                      type: number
                      example: 1
                    AreaID:
                      type: number
                      example: 10
                    City:
                      type: string
                      example: Mumbai
                    CityID:
                      type: number
                      example: 9
                    CountryID:
                      type: number
                      example: 1
                    DeviceID:
                      nullable: true
                      example: null
                    DisplayName:
                      nullable: true
                      example: null
                    Email:
                      type: string
                      example: drdeepakhbk@gmail.com
                    FirstName:
                      type: string
                      example: Dr. Deepak
                    IsUserAvailable:
                      type: boolean
                      example: false
                    LastName:
                      type: string
                      example: Kansara
                    Mobile:
                      type: string
                      example: '8380021488'
                    Password:
                      type: string
                      example: development
                    ShopCount:
                      type: number
                      example: 0
                    ShopNames:
                      nullable: true
                      example: null
                    State:
                      type: string
                      example: MH
                    StateID:
                      type: number
                      example: 2
                    UserCategory:
                      nullable: true
                      example: null
                    UserQualification:
                      nullable: true
                      example: null
                    UserType:
                      type: string
                      example: Provider
                example:
                  - APServiceID: 0
                    Active: '1'
                    Address1: 75 Hatkesh Society
                    Address2: Juhu Scheme
                    AdminUserMasterID: 1
                    AreaID: 10
                    City: Mumbai
                    CityID: 9
                    CountryID: 1
                    DeviceID: null
                    DisplayName: null
                    Email: drdeepakhbk@gmail.com
                    FirstName: Dr. Deepak
                    IsUserAvailable: false
                    LastName: Kansara
                    Mobile: '8380021488'
                    Password: development
                    ShopCount: 0
                    ShopNames: null
                    State: MH
                    StateID: 2
                    UserCategory: null
                    UserQualification: null
                    UserType: Provider
              examples:
                getuser:
                  value:
                    - APServiceID: 0
                      Active: '1'
                      Address1: 75 Hatkesh Society
                      Address2: Juhu Scheme
                      AdminUserMasterID: 1
                      AreaID: 10
                      City: Mumbai
                      CityID: 9
                      CountryID: 1
                      DeviceID: null
                      DisplayName: null
                      Email: drdeepakhbk@gmail.com
                      FirstName: Dr. Deepak
                      IsUserAvailable: false
                      LastName: Kansara
                      Mobile: '8380021488'
                      Password: development
                      ShopCount: 0
                      ShopNames: null
                      State: MH
                      StateID: 2
                      UserCategory: null
                      UserQualification: null
                      UserType: Provider
      security:
        - {}
  /getuserinformation:
    get:
      summary: getuserinformation
      description: >-
        ## getuserinformation


        Fetches user/account information for a given admin user master record.
        Use the API in the About Qwicbook page to fetch the Doctor Registration
        details that includes the Subscription Expire Date which is available in
        the `ExpireDate` attribute


        ### Base URL


        `https://d300b.twidget.io`


        ### Endpoint


        `GET /getuserinformation`


        ### Query parameters


        | Name | Required | Type | Description |

        | --- | --- | --- | --- |

        | `AdminUserMasterId` | Yes | integer | Representing a Doctor's ID |


        ### Example request


        ``` http

        GET https://d300b.twidget.io/getuserinformation?AdminUserMasterId=1

         ```

        ### 200 OK (Success)


        Returns an array of objects.


        #### Response schema (200)


        ``` json

        [
          {
            "CustomerNumber": "string",
            "ExpiryDate": "string",
            "RegisteredEmailID": "string",
            "RegisteredMobile": "string",
            "Remarks": "string",
            "SupportMobileNumber1": "string | null"
          }
        ]

         ```

        #### Sample response (from last run)


        ``` json

        [
          {
            "CustomerNumber": "108155",
            "ExpiryDate": "31-Dec-2030",
            "RegisteredEmailID": "drdeepakhbk@gmail.com",
            "RegisteredMobile": "7391891540",
            "Remarks": "",
            "SupportMobileNumber1": null
          }
        ]

         ```

        ### Common error responses (generic)


        - **401 Unauthorized**: Missing/invalid authentication.
            
        - **403 Forbidden**: Authenticated but not permitted.
            
        - **404 Not Found**: Endpoint not found or resource unavailable.
            
        - **500 Internal Server Error**: Unexpected server error.
            

        ### Notes


        - **PII**: The response can include personally identifiable information
        (e.g., `RegisteredEmailID`, `RegisteredMobile`). Handle/store with care
        and avoid sharing in logs or public docs.
            
        - **Caching**: If responses are cached (client/proxy/server), ensure
        caching is configured appropriately to prevent unintended exposure of
        user data. Prefer `Cache-Control: no-store` (or equivalent) when dealing
        with PII, and avoid caching on shared devices/browsers.
      operationId: getuserinformation
      parameters:
        - name: AdminUserMasterId
          in: query
          schema:
            type: string
            example: '1'
      responses:
        '200':
          description: getuserinformation
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '173'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:13:52 GMT
            ETag:
              schema:
                type: string
                example: W/"ad-shnkx+g7qfgGyQybVAUSEragLqk"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    CustomerNumber:
                      type: string
                      example: '108155'
                    ExpiryDate:
                      type: string
                      example: 31-Dec-2030
                    RegisteredEmailID:
                      type: string
                      example: drdeepakhbk@gmail.com
                    RegisteredMobile:
                      type: string
                      example: '8380021488'
                    Remarks:
                      type: string
                      example: ''
                    SupportMobileNumber1:
                      nullable: true
                      example: null
                example:
                  - CustomerNumber: '108155'
                    ExpiryDate: 31-Dec-2030
                    RegisteredEmailID: drdeepakhbk@gmail.com
                    RegisteredMobile: '8380021488'
                    Remarks: ''
                    SupportMobileNumber1: null
              examples:
                getuserinformation:
                  value:
                    - CustomerNumber: '108155'
                      ExpiryDate: 31-Dec-2030
                      RegisteredEmailID: drdeepakhbk@gmail.com
                      RegisteredMobile: '8380021488'
                      Remarks: ''
                      SupportMobileNumber1: null
      security:
        - {}
  /providerdetails:
    get:
      summary: providerdetails
      description: >-
        ## Overview


        Returns the list of provider/services available for a given doctor
        represented as `AdminUserMasterId`


        This endpoint is typically used to fetch the doctor's active clinics.


        ## Base URL


        `https://d300b.twidget.io`


        ## Endpoint


        `GET /providerdetails`


        ## Query parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `AdminUserMasterId` | integer | Yes | Admin user master identifier
        used to look up provider/service details. |


        ## Example request


        ``` http

        GET https://d300b.twidget.io/providerdetails?AdminUserMasterId=1

         ```

        ## Example 200 response


        ``` json

        [
          {
            "APServiceID": 1,
            "AssociationType": null,
            "ServiceName": "Lokhandwala Clinic"
          },
          {
            "APServiceID": 2,
            "AssociationType": null,
            "ServiceName": "Juhu Clinic"
          },
          {
            "APServiceID": 103,
            "AssociationType": null,
            "ServiceName": "Orchid Hospital (Orthopedic)"
          },
          {
            "APServiceID": 5,
            "AssociationType": null,
            "ServiceName": "Nijanand Clinic"
          }
        ]

         ```
      operationId: providerdetails
      parameters:
        - name: AdminUserMasterId
          in: query
          schema:
            type: string
            example: '1'
      responses:
        '200':
          description: providerdetails
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '307'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:14:15 GMT
            ETag:
              schema:
                type: string
                example: W/"133-duiHDH4sjmydfBsNbZUbS9ZJCkk"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    APServiceID:
                      type: number
                      example: 1
                    AssociationType:
                      nullable: true
                      example: null
                    ServiceName:
                      type: string
                      example: Lokhandwala Clinic
                example:
                  - APServiceID: 1
                    AssociationType: null
                    ServiceName: Lokhandwala Clinic
                  - APServiceID: 2
                    AssociationType: null
                    ServiceName: Juhu Clinic
                  - APServiceID: 103
                    AssociationType: null
                    ServiceName: Orchid Hospital (Orthopedic)
                  - APServiceID: 5
                    AssociationType: null
                    ServiceName: Nijanand Clinic
              examples:
                providerdetails:
                  value:
                    - APServiceID: 1
                      AssociationType: null
                      ServiceName: Lokhandwala Clinic
                    - APServiceID: 2
                      AssociationType: null
                      ServiceName: Juhu Clinic
                    - APServiceID: 103
                      AssociationType: null
                      ServiceName: Orchid Hospital (Orthopedic)
                    - APServiceID: 5
                      AssociationType: null
                      ServiceName: Nijanand Clinic
      security:
        - {}
  /getproviderdetailsbyappointment:
    get:
      summary: getproviderdetailsbyappointment
      description: >-
        ## Purpose


        Retrieve provider details for a specific appointment booking.


        This endpoint returns an array of provider detail records associated
        with the given appointment booking ID (for example, provider name,
        qualification, service/location details, and appointment time changes).


        ---


        ## Endpoint & Method


        - **Method:** `GET`
            
        - **URL:** `https://d300b.twidget.io/getproviderdetailsbyappointment`
            

        ---


        ## Query Parameters


        ### Required


        - `AppointmentBookingId` _(number | string)_
            - The appointment booking identifier to look up provider details.
                

        ### Optional


        - None documented.
            

        ---


        ## Example Request


        ``` http

        GET
        https://d300b.twidget.io/getproviderdetailsbyappointment?AppointmentBookingId=7871

         ```

        **cURL**


        ``` bash

        curl --request GET \
          --url 'https://d300b.twidget.io/getproviderdetailsbyappointment?AppointmentBookingId=7871'

         ```

        ---


        ## Example 200 Response: When the Time Delay Is Set


        > Note: this API is to be used when we want to find out the New Time
        based on the Time Delay set by the doctor. The `NewTime`attribute shows
        a time if the Time Delay has been set by the doctor. If `NewTime`
        attribute indicates the value `On Time!` it means the Time Delay
        function is inactive and the doctor is running on schedule. 
          

        ``` json

        [
            {
                "Address": "Lokhandwala Complex, Andheri (W) Mumbai - 400053",
                "AppointmentBookingID": 7871,
                "Category": "Doctor",
                "FullName": "Dr. Deepak Kansara",
                "Message": "Providers details for your appointment",
                "Mobile": "8380021488",
                "NewTime": "11:32 (Your new time)",
                "OldTime": "11:05",
                "Qualification": "General Physician",
                "ServiceName": "Lokhandwala Clinic"
            }
        ]

         ```

        ---


        ## Example 200 Response: When the Time Delay Is Inactive


        ``` json

        [
            {
                "Address": "Lokhandwala Complex, Andheri (W) Mumbai - 400053",
                "AppointmentBookingID": 7810,
                "Category": "Doctor",
                "FullName": "Dr. Deepak Kansara",
                "Message": "Providers details for your appointment",
                "Mobile": "8380021488",
                "NewTime": "On Time!",
                "OldTime": "18:25",
                "Qualification": "General Physician",
                "ServiceName": "Lokhandwala Clinic"
            }
        ]

         ```

        ## Nagitive Validation:


        This scenario should not exists as there will always the
        AppointmentBookingID available to fetch the New and the Old Time.


        ``` json

        [
            {
                "Address": "Untitled",
                "AppointmentBookingID": 78719,
                "Category": "Untitled",
                "FullName": "Untitled",
                "Message": "Unable to find the correct appointment",
                "Mobile": "Untitled",
                "NewTime": "00:00",
                "OldTime": "00:00",
                "Qualification": "Untitled",
                "ServiceName": "Not Found"
            }
        ]

         ```

        ### Field Notes


        - `AppointmentBookingID` is returned in the response and should
        correspond to the `AppointmentBookingId` query param.
            
        - `Mobile` may contain sensitive phone data; avoid logging it in
        plaintext.
            
        - `OldTime` / `NewTime` indicate time changes (if applicable).
            

        ---


        ## Error / Edge Case Notes


        This request currently has no saved error examples. Typical patterns to
        watch for:


        - **400 Bad Request**: missing/invalid `AppointmentBookingId`.
            
        - **404 Not Found**: no provider details found for the given booking ID.
            
        - **500 Internal Server Error**: unexpected server-side failure.
            

        Suggested client-side handling:


        - Validate `AppointmentBookingId` is present and numeric before calling.
            
        - If response is an empty array, treat as “no data found” (depending on
        backend behavior).
            

        ---
      operationId: getproviderdetailsbyappointment
      parameters:
        - name: AppointmentBookingId
          in: query
          schema:
            type: string
            example: '7871'
      responses:
        '200':
          description: getproviderdetailsbyappointment
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '340'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:14:40 GMT
            ETag:
              schema:
                type: string
                example: W/"154-ANLH87PI0f/69Yuxu7+Zdj+2oPc"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Address:
                      type: string
                      example: Lokhandwala Complex, Andheri (W) Mumbai - 400053
                    AppointmentBookingID:
                      type: number
                      example: 7871
                    Category:
                      type: string
                      example: Doctor
                    FullName:
                      type: string
                      example: Dr. Deepak Kansara
                    Message:
                      type: string
                      example: Providers details for your appointment
                    Mobile:
                      type: string
                      example: '8380021488'
                    NewTime:
                      type: string
                      example: 11:32 (Your new time)
                    OldTime:
                      type: string
                      example: '11:05'
                    Qualification:
                      type: string
                      example: General Physician
                    ServiceName:
                      type: string
                      example: Lokhandwala Clinic
                example:
                  - Address: Lokhandwala Complex, Andheri (W) Mumbai - 400053
                    AppointmentBookingID: 7871
                    Category: Doctor
                    FullName: Dr. Deepak Kansara
                    Message: Providers details for your appointment
                    Mobile: '8380021488'
                    NewTime: 11:32 (Your new time)
                    OldTime: '11:05'
                    Qualification: General Physician
                    ServiceName: Lokhandwala Clinic
              examples:
                getproviderdetailsbyappointment:
                  value:
                    - Address: Lokhandwala Complex, Andheri (W) Mumbai - 400053
                      AppointmentBookingID: 7871
                      Category: Doctor
                      FullName: Dr. Deepak Kansara
                      Message: Providers details for your appointment
                      Mobile: '8380021488'
                      NewTime: 11:32 (Your new time)
                      OldTime: '11:05'
                      Qualification: General Physician
                      ServiceName: Lokhandwala Clinic
      security:
        - {}
  /getappointmentbyshop:
    get:
      summary: getappointmentbyshop
      description: >-
        ## Purpose


        Fetches the list of appointment bookings for a given shop/service
        (`APServiceId`) on a specific date (`AppointmentDate`).


        This endpoint returns an array of appointment objects (one per
        booking/time slot) with patient/display information, timing,
        token/sequence, and check-in/check-out flags.


        Note: Use this api to fetch the appointments booked for a Shop and
        specific date.


        ---


        ## Method & Endpoint


        `GET /getappointmentbyshop`


        ---


        ## Required query parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `APServiceId` | number | Yes | Service/shop identifier to fetch
        appointments for. |

        | `AppointmentDate` | string | Yes | Appointment date to query. Example
        format observed: `9-Feb-2026` (also returned as `09-Feb-2026` in the
        response). |


        ---


        ## Example request URL


        ``` text

        https://d300b.twidget.io/getappointmentbyshop?APServiceId=1&AppointmentDate=9-Feb-2026

         ```

        ---


        ## Response


        **200 OK**


        Returns a JSON array of appointment objects.


        ### Appointment object (key fields)


        | Field | Type | Meaning |

        | --- | --- | --- |

        | `APServiceTransID` | number | Unique transaction/row identifier for
        the appointment entry. |

        | `AppointmentBookingID` | number | Booking identifier for the
        appointment. |

        | `AdminUserMasterID` | number | Admin/user identifier associated with
        the booking. |

        | `BookedForDate` | string | Date the appointment is booked for (e.g.,
        `09-Feb-2026`). |

        | `BookingDate` | string | Date the booking was created. |

        | `FromTime` | string | Start time for the appointment slot (e.g.,
        `11:00`). |

        | `ToTime` | string | End time for the appointment slot (e.g., `11:05`).
        |

        | `TokenNumber` | string/number | Token/queue number for the appointment
        (often increments for the day). |

        | `SequenceNumber` | string/number | Sequence value (may represent
        ordering/priority; observed values like `0`, `1`). |

        | `PatientName` | string | Patient name for the booking. |

        | `DisplayName` | string | Display label for the booking (often includes
        name and source/user type). |

        | `ParentName` | string | Parent/source label (e.g., channel/user type
        such as `Web User`). |

        | `Remarks` | string | Free-text notes/remarks captured with the
        booking. |

        | `UserIn` | number (0/1) | Check-in flag (1 = in/checked in; 0 = not
        checked in). |

        | `UserOut` | number (0/1) | Check-out flag (1 = out/checked out; 0 =
        not checked out). |


        ### Sample response


        ``` json

        [
          {
            "APServiceTransID": 28891,
            "AdminUserMasterID": 6,
            "AppointmentBookingID": 7870,
            "BookedForDate": "09-Feb-2026",
            "BookingDate": "08-Feb-2026",
            "DisplayName": "Tushar (Web User)",
            "FromTime": "11:00",
            "ParentName": "Web User",
            "PatientName": "Tushar",
            "Remarks": "8380021488 - Bot - Testing",
            "SequenceNumber": "0",
            "ToTime": "11:05",
            "TokenNumber": "1",
            "UserIn": 0,
            "UserOut": 0
          }
        ]

         ```

        ## Negative Validation: When No Appointments Are Booked For A Specific
        Date:


        The `APServiceTransactionID` is always `0`


        ``` json

        [
            {
                "APServiceTransID": 0,
                "AdminUserMasterID": 0,
                "AppointmentBookingID": 0,
                "BookedForDate": null,
                "BookingDate": null,
                "DisplayName": "No Appointments Found!",
                "FromTime": "",
                "ParentName": null,
                "PatientName": null,
                "Remarks": "",
                "SequenceNumber": null,
                "ToTime": null,
                "TokenNumber": "0",
                "UserIn": 0,
                "UserOut": 0
            }
        ]

         ```

        ## Notes


        - The endpoint returns an empty array (`[]`) when there are no
        appointments for the given `APServiceId` and `AppointmentDate`.
      operationId: getappointmentbyshop
      parameters:
        - name: APServiceId
          in: query
          schema:
            type: string
            example: '1'
        - name: AppointmentDate
          in: query
          schema:
            type: string
            example: 9-Feb-2026
      responses:
        '200':
          description: getappointmentbyshop / 200 - No appointments found
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1066'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:15:25 GMT
            ETag:
              schema:
                type: string
                example: W/"42a-0uF0zqfSwyDdDODZtPb2Ecyjx+A"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    APServiceTransID:
                      type: number
                      example: 28891
                    AdminUserMasterID:
                      type: number
                      example: 6
                    AppointmentBookingID:
                      type: number
                      example: 7870
                    BookedForDate:
                      type: string
                      example: 09-Feb-2026
                    BookingDate:
                      type: string
                      example: 08-Feb-2026
                    DisplayName:
                      type: string
                      example: Tushar (Web User)
                    FromTime:
                      type: string
                      example: '11:00'
                    ParentName:
                      type: string
                      example: Web User
                    PatientName:
                      type: string
                      example: Tushar
                    Remarks:
                      type: string
                      example: 8380021488 - Bot - Testing
                    SequenceNumber:
                      type: string
                      example: '0'
                    ToTime:
                      type: string
                      example: '11:05'
                    TokenNumber:
                      type: string
                      example: '1'
                    UserIn:
                      type: number
                      example: 0
                    UserOut:
                      type: number
                      example: 0
                example:
                  - APServiceTransID: 28891
                    AdminUserMasterID: 6
                    AppointmentBookingID: 7870
                    BookedForDate: 09-Feb-2026
                    BookingDate: 08-Feb-2026
                    DisplayName: Tushar (Web User)
                    FromTime: '11:00'
                    ParentName: Web User
                    PatientName: Tushar
                    Remarks: 8380021488 - Bot - Testing
                    SequenceNumber: '0'
                    ToTime: '11:05'
                    TokenNumber: '1'
                    UserIn: 0
                    UserOut: 0
                  - APServiceTransID: 28892
                    AdminUserMasterID: 6
                    AppointmentBookingID: 7871
                    BookedForDate: 09-Feb-2026
                    BookingDate: 08-Feb-2026
                    DisplayName: Ravi (Web User)
                    FromTime: '11:05'
                    ParentName: Web User
                    PatientName: Ravi
                    Remarks: 8380021488 - Bot - None
                    SequenceNumber: '0'
                    ToTime: '11:10'
                    TokenNumber: '2'
                    UserIn: 0
                    UserOut: 0
                  - APServiceTransID: 28893
                    AdminUserMasterID: 6
                    AppointmentBookingID: 7874
                    BookedForDate: 09-Feb-2026
                    BookingDate: 08-Feb-2026
                    DisplayName: TPTWIDGET (Web User)
                    FromTime: '11:10'
                    ParentName: Web User
                    PatientName: TPTWIDGET
                    Remarks: 8380021488 - from postman Twidget
                    SequenceNumber: '0'
                    ToTime: '11:15'
                    TokenNumber: '3'
                    UserIn: 1
                    UserOut: 1
              examples:
                200 - No appointments found:
                  value:
                    - APServiceTransID: 0
                      AdminUserMasterID: 0
                      AppointmentBookingID: 0
                      BookedForDate: null
                      BookingDate: null
                      DisplayName: No Appointments Found!
                      FromTime: ''
                      ParentName: null
                      PatientName: null
                      Remarks: ''
                      SequenceNumber: null
                      ToTime: null
                      TokenNumber: '0'
                      UserIn: 0
                      UserOut: 0
                getappointmentbyshop:
                  value:
                    - APServiceTransID: 28891
                      AdminUserMasterID: 6
                      AppointmentBookingID: 7870
                      BookedForDate: 09-Feb-2026
                      BookingDate: 08-Feb-2026
                      DisplayName: Tushar (Web User)
                      FromTime: '11:00'
                      ParentName: Web User
                      PatientName: Tushar
                      Remarks: 8380021488 - Bot - Testing
                      SequenceNumber: '0'
                      ToTime: '11:05'
                      TokenNumber: '1'
                      UserIn: 0
                      UserOut: 0
                    - APServiceTransID: 28892
                      AdminUserMasterID: 6
                      AppointmentBookingID: 7871
                      BookedForDate: 09-Feb-2026
                      BookingDate: 08-Feb-2026
                      DisplayName: Ravi (Web User)
                      FromTime: '11:05'
                      ParentName: Web User
                      PatientName: Ravi
                      Remarks: 8380021488 - Bot - None
                      SequenceNumber: '0'
                      ToTime: '11:10'
                      TokenNumber: '2'
                      UserIn: 0
                      UserOut: 0
                    - APServiceTransID: 28893
                      AdminUserMasterID: 6
                      AppointmentBookingID: 7874
                      BookedForDate: 09-Feb-2026
                      BookingDate: 08-Feb-2026
                      DisplayName: TPTWIDGET (Web User)
                      FromTime: '11:10'
                      ParentName: Web User
                      PatientName: TPTWIDGET
                      Remarks: 8380021488 - from postman Twidget
                      SequenceNumber: '0'
                      ToTime: '11:15'
                      TokenNumber: '3'
                      UserIn: 1
                      UserOut: 1
      security:
        - {}
  /getschedule:
    get:
      summary: getschedule
      description: >-
        ## Purpose


        Retrieve the appointment schedule (time slots) for a given service
        (`APServiceId`) on a specific date/time context.


        This endpoint returns an array of time slots with token information
        embedded in `FromTime`.


        Example: Assuming today is 14-Mar-26 (CurrentDate). On this date, want
        to book a future appointment for 16-Mar-26 (TodayDate) at 14:30
        (TodayTime).


        Note: The Slots (ToTime) are dynamic based upon the appointment date;
        meaning, past dates appointments cannot be booked included past time.


        ---


        ## Query parameters


        | Parameter | Type | Required | Example | Description |

        | --- | --- | --- | --- | --- |

        | `APServiceId` | integer | Yes | `1` | Shop Identifier |

        | `CurrentDate` | string (date) | Yes | `14-Mar-2026` | The date on
        which the schedule is being fetched |

        | `TodayDate` | string (date) | Yes | `16-Mar-2026` | Date <u>for </u>
        which the booking should be done. |

        | `TodayTime` | string (time) | Yes | `14:30` | Time <u>for </u> which
        the booking should be done |


        ---


        ## Example request


        ``` http

        GET
        https://d300b.twidget.io/getschedule?APServiceId=1&CurrentDate=14-Mar-2026&TodayDate=16-Mar-2026&TodayTime=14:30

         ```

        ---


        ## Example response (200): Positive Validation when slots are available.


        ``` json

        [
          {
            "APServiceID": 1,
            "APServiceTransID": 29335,
            "CurrentDate": null,
            "Day": 0,
            "DayPart": "M",
            "FromTime": "11:00 | TKN: 1",
            "IsOOOFlag": 0,
            "ToTime": "11:05"
          },
          {
            "APServiceID": 1,
            "APServiceTransID": 29336,
            "CurrentDate": null,
            "Day": 0,
            "DayPart": "M",
            "FromTime": "11:05 | TKN: 2",
            "IsOOOFlag": 0,
            "ToTime": "11:10"
          }
        ]

         ```

        ## Example response: When there are no slots available for a given date


        ``` json

        [
            {
                "APServiceID": 0,
                "APServiceTransID": 0,
                "CurrentDate": null,
                "Day": 0,
                "DayPart": null,
                "FromTime": "No Schedule for the day",
                "IsOOOFlag": 0,
                "ToTime": null
            }
        ]

         ```

        ### Date/time formats


        - `CurrentDate` / `TodayDate` are expected in `DD-MMM-YYYY` format
        (e.g., `14-Mar-2026`).
            
        - `TodayTime` is expected in 24-hour `HH:mm` format (e.g., `14:30`).
            

        ### Token parsing (`FromTime`)


        - `FromTime` contains a human-readable time plus token, typically in the
        form: Always use the FormTime to display the available slots.
            
            - `"HH:mm | TKN: N"`
                
        - If you need the token as a number, parse the substring after `TKN:`
        and trim whitespace.
            

        ### Flags


        - `IsOOOFlag` indicates out-of-office/unavailable status (commonly `0`
        for available, `1` for unavailable).
      operationId: getschedule
      parameters:
        - name: APServiceId
          in: query
          schema:
            type: string
            example: '1'
        - name: CurrentDate
          in: query
          schema:
            type: string
            example: 9-Feb-2026
        - name: TodayDate
          in: query
          schema:
            type: string
            example: 9-Feb-2026
        - name: TodayTime
          in: query
          schema:
            type: string
            example: '14:30'
      responses:
        '200':
          description: getschedule
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '5167'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:15:46 GMT
            ETag:
              schema:
                type: string
                example: W/"142f-yVXhCuSbqBTSC7XKNA3/tS2SzJM"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    APServiceID:
                      type: number
                      example: 1
                    APServiceTransID:
                      type: number
                      example: 28915
                    CurrentDate:
                      nullable: true
                      example: null
                    Day:
                      type: number
                      example: 0
                    DayPart:
                      type: string
                      example: E
                    FromTime:
                      type: string
                      example: '17:00 | TKN: 1'
                    IsOOOFlag:
                      type: number
                      example: 0
                    ToTime:
                      type: string
                      example: '17:05'
                example:
                  - APServiceID: 1
                    APServiceTransID: 28915
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:00 | TKN: 1'
                    IsOOOFlag: 0
                    ToTime: '17:05'
                  - APServiceID: 1
                    APServiceTransID: 28916
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:05 | TKN: 2'
                    IsOOOFlag: 0
                    ToTime: '17:10'
                  - APServiceID: 1
                    APServiceTransID: 28917
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:10 | TKN: 3'
                    IsOOOFlag: 0
                    ToTime: '17:15'
                  - APServiceID: 1
                    APServiceTransID: 28918
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:15 | TKN: 4'
                    IsOOOFlag: 0
                    ToTime: '17:20'
                  - APServiceID: 1
                    APServiceTransID: 28919
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:20 | TKN: 5'
                    IsOOOFlag: 0
                    ToTime: '17:25'
                  - APServiceID: 1
                    APServiceTransID: 28920
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:25 | TKN: 6'
                    IsOOOFlag: 0
                    ToTime: '17:30'
                  - APServiceID: 1
                    APServiceTransID: 28921
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:30 | TKN: 7'
                    IsOOOFlag: 0
                    ToTime: '17:35'
                  - APServiceID: 1
                    APServiceTransID: 28922
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:35 | TKN: 8'
                    IsOOOFlag: 0
                    ToTime: '17:40'
                  - APServiceID: 1
                    APServiceTransID: 28923
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:40 | TKN: 9'
                    IsOOOFlag: 0
                    ToTime: '17:45'
                  - APServiceID: 1
                    APServiceTransID: 28924
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:45 | TKN: 10'
                    IsOOOFlag: 0
                    ToTime: '17:50'
                  - APServiceID: 1
                    APServiceTransID: 28925
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:50 | TKN: 11'
                    IsOOOFlag: 0
                    ToTime: '17:55'
                  - APServiceID: 1
                    APServiceTransID: 28926
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '17:55 | TKN: 12'
                    IsOOOFlag: 0
                    ToTime: '18:00'
                  - APServiceID: 1
                    APServiceTransID: 28927
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:00 | TKN: 13'
                    IsOOOFlag: 0
                    ToTime: '18:05'
                  - APServiceID: 1
                    APServiceTransID: 28928
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:05 | TKN: 14'
                    IsOOOFlag: 0
                    ToTime: '18:10'
                  - APServiceID: 1
                    APServiceTransID: 28929
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:10 | TKN: 15'
                    IsOOOFlag: 0
                    ToTime: '18:15'
                  - APServiceID: 1
                    APServiceTransID: 28930
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:15 | TKN: 16'
                    IsOOOFlag: 0
                    ToTime: '18:20'
                  - APServiceID: 1
                    APServiceTransID: 28931
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:20 | TKN: 17'
                    IsOOOFlag: 0
                    ToTime: '18:25'
                  - APServiceID: 1
                    APServiceTransID: 28932
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:25 | TKN: 18'
                    IsOOOFlag: 0
                    ToTime: '18:30'
                  - APServiceID: 1
                    APServiceTransID: 28933
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:30 | TKN: 19'
                    IsOOOFlag: 0
                    ToTime: '18:35'
                  - APServiceID: 1
                    APServiceTransID: 28934
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:35 | TKN: 20'
                    IsOOOFlag: 0
                    ToTime: '18:40'
                  - APServiceID: 1
                    APServiceTransID: 28935
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:40 | TKN: 21'
                    IsOOOFlag: 0
                    ToTime: '18:45'
                  - APServiceID: 1
                    APServiceTransID: 28936
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:45 | TKN: 22'
                    IsOOOFlag: 0
                    ToTime: '18:50'
                  - APServiceID: 1
                    APServiceTransID: 28937
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:50 | TKN: 23'
                    IsOOOFlag: 0
                    ToTime: '18:55'
                  - APServiceID: 1
                    APServiceTransID: 28938
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '18:55 | TKN: 24'
                    IsOOOFlag: 0
                    ToTime: '19:00'
                  - APServiceID: 1
                    APServiceTransID: 28939
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:00 | TKN: 1'
                    IsOOOFlag: 0
                    ToTime: '20:05'
                  - APServiceID: 1
                    APServiceTransID: 28940
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:05 | TKN: 2'
                    IsOOOFlag: 0
                    ToTime: '20:10'
                  - APServiceID: 1
                    APServiceTransID: 28941
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:10 | TKN: 3'
                    IsOOOFlag: 0
                    ToTime: '20:15'
                  - APServiceID: 1
                    APServiceTransID: 28942
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:15 | TKN: 4'
                    IsOOOFlag: 0
                    ToTime: '20:20'
                  - APServiceID: 1
                    APServiceTransID: 28943
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:20 | TKN: 5'
                    IsOOOFlag: 0
                    ToTime: '20:25'
                  - APServiceID: 1
                    APServiceTransID: 28944
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:25 | TKN: 6'
                    IsOOOFlag: 0
                    ToTime: '20:30'
                  - APServiceID: 1
                    APServiceTransID: 28945
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:30 | TKN: 7'
                    IsOOOFlag: 0
                    ToTime: '20:35'
                  - APServiceID: 1
                    APServiceTransID: 28946
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:35 | TKN: 8'
                    IsOOOFlag: 0
                    ToTime: '20:40'
                  - APServiceID: 1
                    APServiceTransID: 28947
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:40 | TKN: 9'
                    IsOOOFlag: 0
                    ToTime: '20:45'
                  - APServiceID: 1
                    APServiceTransID: 28948
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:45 | TKN: 10'
                    IsOOOFlag: 0
                    ToTime: '20:50'
                  - APServiceID: 1
                    APServiceTransID: 28949
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:50 | TKN: 11'
                    IsOOOFlag: 0
                    ToTime: '20:55'
                  - APServiceID: 1
                    APServiceTransID: 28950
                    CurrentDate: null
                    Day: 0
                    DayPart: E
                    FromTime: '20:55 | TKN: 12'
                    IsOOOFlag: 0
                    ToTime: '21:00'
              examples:
                getschedule:
                  value:
                    - APServiceID: 1
                      APServiceTransID: 28915
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:00 | TKN: 1'
                      IsOOOFlag: 0
                      ToTime: '17:05'
                    - APServiceID: 1
                      APServiceTransID: 28916
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:05 | TKN: 2'
                      IsOOOFlag: 0
                      ToTime: '17:10'
                    - APServiceID: 1
                      APServiceTransID: 28917
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:10 | TKN: 3'
                      IsOOOFlag: 0
                      ToTime: '17:15'
                    - APServiceID: 1
                      APServiceTransID: 28918
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:15 | TKN: 4'
                      IsOOOFlag: 0
                      ToTime: '17:20'
                    - APServiceID: 1
                      APServiceTransID: 28919
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:20 | TKN: 5'
                      IsOOOFlag: 0
                      ToTime: '17:25'
                    - APServiceID: 1
                      APServiceTransID: 28920
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:25 | TKN: 6'
                      IsOOOFlag: 0
                      ToTime: '17:30'
                    - APServiceID: 1
                      APServiceTransID: 28921
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:30 | TKN: 7'
                      IsOOOFlag: 0
                      ToTime: '17:35'
                    - APServiceID: 1
                      APServiceTransID: 28922
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:35 | TKN: 8'
                      IsOOOFlag: 0
                      ToTime: '17:40'
                    - APServiceID: 1
                      APServiceTransID: 28923
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:40 | TKN: 9'
                      IsOOOFlag: 0
                      ToTime: '17:45'
                    - APServiceID: 1
                      APServiceTransID: 28924
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:45 | TKN: 10'
                      IsOOOFlag: 0
                      ToTime: '17:50'
                    - APServiceID: 1
                      APServiceTransID: 28925
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:50 | TKN: 11'
                      IsOOOFlag: 0
                      ToTime: '17:55'
                    - APServiceID: 1
                      APServiceTransID: 28926
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '17:55 | TKN: 12'
                      IsOOOFlag: 0
                      ToTime: '18:00'
                    - APServiceID: 1
                      APServiceTransID: 28927
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:00 | TKN: 13'
                      IsOOOFlag: 0
                      ToTime: '18:05'
                    - APServiceID: 1
                      APServiceTransID: 28928
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:05 | TKN: 14'
                      IsOOOFlag: 0
                      ToTime: '18:10'
                    - APServiceID: 1
                      APServiceTransID: 28929
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:10 | TKN: 15'
                      IsOOOFlag: 0
                      ToTime: '18:15'
                    - APServiceID: 1
                      APServiceTransID: 28930
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:15 | TKN: 16'
                      IsOOOFlag: 0
                      ToTime: '18:20'
                    - APServiceID: 1
                      APServiceTransID: 28931
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:20 | TKN: 17'
                      IsOOOFlag: 0
                      ToTime: '18:25'
                    - APServiceID: 1
                      APServiceTransID: 28932
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:25 | TKN: 18'
                      IsOOOFlag: 0
                      ToTime: '18:30'
                    - APServiceID: 1
                      APServiceTransID: 28933
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:30 | TKN: 19'
                      IsOOOFlag: 0
                      ToTime: '18:35'
                    - APServiceID: 1
                      APServiceTransID: 28934
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:35 | TKN: 20'
                      IsOOOFlag: 0
                      ToTime: '18:40'
                    - APServiceID: 1
                      APServiceTransID: 28935
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:40 | TKN: 21'
                      IsOOOFlag: 0
                      ToTime: '18:45'
                    - APServiceID: 1
                      APServiceTransID: 28936
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:45 | TKN: 22'
                      IsOOOFlag: 0
                      ToTime: '18:50'
                    - APServiceID: 1
                      APServiceTransID: 28937
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:50 | TKN: 23'
                      IsOOOFlag: 0
                      ToTime: '18:55'
                    - APServiceID: 1
                      APServiceTransID: 28938
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '18:55 | TKN: 24'
                      IsOOOFlag: 0
                      ToTime: '19:00'
                    - APServiceID: 1
                      APServiceTransID: 28939
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:00 | TKN: 1'
                      IsOOOFlag: 0
                      ToTime: '20:05'
                    - APServiceID: 1
                      APServiceTransID: 28940
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:05 | TKN: 2'
                      IsOOOFlag: 0
                      ToTime: '20:10'
                    - APServiceID: 1
                      APServiceTransID: 28941
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:10 | TKN: 3'
                      IsOOOFlag: 0
                      ToTime: '20:15'
                    - APServiceID: 1
                      APServiceTransID: 28942
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:15 | TKN: 4'
                      IsOOOFlag: 0
                      ToTime: '20:20'
                    - APServiceID: 1
                      APServiceTransID: 28943
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:20 | TKN: 5'
                      IsOOOFlag: 0
                      ToTime: '20:25'
                    - APServiceID: 1
                      APServiceTransID: 28944
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:25 | TKN: 6'
                      IsOOOFlag: 0
                      ToTime: '20:30'
                    - APServiceID: 1
                      APServiceTransID: 28945
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:30 | TKN: 7'
                      IsOOOFlag: 0
                      ToTime: '20:35'
                    - APServiceID: 1
                      APServiceTransID: 28946
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:35 | TKN: 8'
                      IsOOOFlag: 0
                      ToTime: '20:40'
                    - APServiceID: 1
                      APServiceTransID: 28947
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:40 | TKN: 9'
                      IsOOOFlag: 0
                      ToTime: '20:45'
                    - APServiceID: 1
                      APServiceTransID: 28948
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:45 | TKN: 10'
                      IsOOOFlag: 0
                      ToTime: '20:50'
                    - APServiceID: 1
                      APServiceTransID: 28949
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:50 | TKN: 11'
                      IsOOOFlag: 0
                      ToTime: '20:55'
                    - APServiceID: 1
                      APServiceTransID: 28950
                      CurrentDate: null
                      Day: 0
                      DayPart: E
                      FromTime: '20:55 | TKN: 12'
                      IsOOOFlag: 0
                      ToTime: '21:00'
      security:
        - {}
  /Appointment/Service1.svc/InsertOOO:
    post:
      summary: Appointment/InsertOOO
      description: >-
        # Do Not User This End Point as this is an "http" End Point and will not
        work in the app. Instead use "insertooo"
      operationId: appointmentInsertooo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                adminOOO:
                  type: object
                  properties:
                    AdminUserMasterID:
                      type: string
                      example: '1'
                    IsOOO:
                      type: string
                      example: '1'
                    OOOFrom:
                      type: string
                      example: '2026-02-01T00:00:00'
                    OOOID:
                      type: string
                      example: '1'
                    OOOMessage:
                      type: string
                      example: I am out of office. TP
                    OOOTo:
                      type: string
                      example: '2026-02-10T00:00:00'
            examples:
              Appointment/InsertOOO:
                value:
                  adminOOO:
                    AdminUserMasterID: '1'
                    IsOOO: '1'
                    OOOFrom: '2026-02-01T00:00:00'
                    OOOID: '1'
                    OOOMessage: I am out of office. TP
                    OOOTo: '2026-02-10T00:00:00'
      responses:
        '200':
          description: ''
      security:
        - {}
  /insertooo:
    post:
      summary: insertooo
      description: >-
        ## Purpose


        Creates or updates an “Out Of Office (OOO)” entry for a Doctor.


        ## Endpoint


        `POST https://d300b.twidget.io/insertooo`


        ## Request body (JSON)


        Send a JSON object in the request body.


        ### Fields


        | Field | Type | Required | Notes / Format |

        | --- | --- | --- | --- |

        | `OOOID` | string (numeric ID) | Yes | OOO record identifier. ALways
        use`"0"` to create a new OOO entry; or to update |

        | `AdminUserMasterID` | string (numeric ID) | Yes | Doctor ID to which
        the OOO entry belongs to. |

        | `IsOOO` | string or number | Yes | Flag indicating OOO status: `0` =
        not OOO, `1` = OOO. |

        | `OOOFrom` | string (datetime) | Yes | Start datetime in ISO 8601
        format (e.g., `YYYY-MM-DDTHH:mm:ss`). Example: `2026-02-01T00:00:00`. |

        | `OOOTo` | string (datetime) | Yes | End datetime in ISO 8601 format
        (e.g., `YYYY-MM-DDTHH:mm:ss`). Example: `2026-02-10T00:00:00`. |

        | `OOOMessage` | string | Yes | Message to display while the user is out
        of office. |


        ## Example request payload


        ``` json

        {
          "OOOID": "0",
          "AdminUserMasterID": "1",
          "IsOOO": "0",
          "OOOFrom": "2026-02-01T00:00:00",
          "OOOTo": "2026-02-10T00:00:00",
          "OOOMessage": "I am out of office"
        }

         ```

        ## Response


        ### Success


        - **HTTP 200 OK**
            
        - Response body (based on the current successful response):
            - `1`
                

        The value `1` indicates the operation succeeded. Note, that the value
        returned is always `1` irrespective of success or failure. So, endure
        that the operation is validated agains the table `Admin_OOO` after an
        update.
      operationId: insertooo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                AdminUserMasterID:
                  type: string
                  example: '1'
                IsOOO:
                  type: string
                  example: '0'
                OOOFrom:
                  type: string
                  example: '2026-02-01T00:00:00'
                OOOID:
                  type: string
                  example: '0'
                OOOMessage:
                  type: string
                  example: I am out of office.
                OOOTo:
                  type: string
                  example: '2026-02-10T00:00:00'
            examples:
              insertooo:
                value:
                  AdminUserMasterID: '1'
                  IsOOO: '0'
                  OOOFrom: '2026-02-01T00:00:00'
                  OOOID: '0'
                  OOOMessage: I am out of office.
                  OOOTo: '2026-02-10T00:00:00'
      responses:
        '200':
          description: insertooo
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:19:59 GMT
            ETag:
              schema:
                type: string
                example: W/"1-NWoZK3kTsExUV00Ywo1G5jlUKKs"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/octet-stream:
              examples:
                insertooo:
                  value: '1'
      security:
        - {}
  /insertappointments:
    post:
      summary: insertappointments
      description: >-
        ### Purpose


        Create/insert a new appointment in the Qwicbook system.


        ### Endpoint


        - **Method:** `POST`
            
        - **URL:** `https://d300b.twidget.io/insertappointments`
            

        ### Authentication


        - Not configured in this request.
            

        ### Headers


        - This endpoint expects JSON.
            
        - Typical header:
            
            - `Content-Type: application/json`
                

        ### Request body (JSON)


        | Field | Type | Required | Description | Example |

        | --- | --- | --- | --- | --- |

        | `AdminUserMasterID` | string/number | Yes | Always pass `6`. This
        identifies that the booking is being done by receptionist. | `"6"` |

        | `APServiceTransID` | string/number | Yes | Slot reference ID. |
        `"28893"` |

        | `Remarks` | string | No | Notes/remarks for the appointment. | `"from
        postman Twidget"` |

        | `BookedForDate` | string | Yes | Appointment date. See **Date format**
        notes below. | `"3-Mar-2026"` |

        | `PatientName` | string | Yes | Patient/customer name. | `"Tushar
        Parmar"` |

        | `AlternateMobile` | string | No | Patient Mobile Number for contact. |
        `"7391891540"` |


        ### Example request


        ``` json

        POST https://d300b.twidget.io/insertappointments

        Content-Type: application/json

        {
          "AdminUserMasterID": "6",
          "APServiceTransID": "28893",
          "Remarks": "from postman Twidget",
          "BookedForDate": "16-Mar-2026",
          "PatientName": "Tushar Parmar",
          "AlternateMobile": "7391891540"
        }

         ```

        ### Example responses (generic)


        #### Success (200 OK) - If `AppointmentBookinfID` value is greater than
        `0`


        ``` json

        [
            {
                "AppointmentBookingID": 7931,
                "Token": "3"
            }
        ]

         ```

        #### Error (200 OK): If the `AppointmentBookingID` value is equal to `0`


        ``` json

        [
            {
                "AppointmentBookingID": 0,
                "Token": "0"
            }
        ]

         ```

        ### Notes / validations


        - Logic: Write your logic based on the response attribute
        AppointmentBookingID. If it returns 0 then the appointment is not
        booked. Most of the times its because someone booked the same slot
        before you.
            
        - **Date format:** `BookedForDate` is currently sent as `3-Mar-2026`
        (e.g., `D-MMM-YYYY`). Ensure the server accepts this exact format and
        locale (English month abbreviations).
            
        - **IDs as strings:** `AdminUserMasterID` and `APServiceTransID` are
        sent as strings here. If the API expects numbers, send them as JSON
        numbers instead.
            
        - **Mobile number:** `AlternateMobile` should typically be digits only;
        length is 10 digits.
            
        - **Required fields:** If any required field is missing/blank, expect a
        400-level validation response.
      operationId: insertappointments
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                APServiceTransID:
                  type: string
                  example: '28893'
                AdminUserMasterID:
                  type: string
                  example: '6'
                AlternateMobile:
                  type: string
                  example: '8380021488'
                BookedForDate:
                  type: string
                  example: 3-Mar-2026
                PatientName:
                  type: string
                  example: TPTWIDGET
                Remarks:
                  type: string
                  example: from postman Twidget
            examples:
              insertappointments:
                value:
                  APServiceTransID: '28893'
                  AdminUserMasterID: '6'
                  AlternateMobile: '8380021488'
                  BookedForDate: 3-Mar-2026
                  PatientName: TPTWIDGET
                  Remarks: from postman Twidget
      responses:
        '200':
          description: insertappointments / insertappointments
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '43'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:21:10 GMT
            ETag:
              schema:
                type: string
                example: W/"2b-hm9x6cstajhabSM+onsYURaYbuM"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    AppointmentBookingID:
                      type: number
                      example: 0
                    Token:
                      type: string
                      example: '0'
                example:
                  - AppointmentBookingID: 0
                    Token: '0'
              examples:
                insertappointments:
                  value:
                    - AppointmentBookingID: 7876
                      Token: '3'
      security:
        - {}
  /insertlatedetails:
    post:
      summary: insertlatedetails
      description: >-
        ## Purpose


        Create or update a "late" notification/message for a Doctor. Use this
        End Point to save Late Details that the doctor will publish to their
        patients. Example: Like, I am running late by 30 minutes.


        ## Endpoint


        - **Method:** `POST`
            
        - **URL:** `https://d300b.twidget.io/insertlatedetails`
            

        ## Request Body (JSON)


        Send a JSON object with the following fields:


        | Field | Type | Required | Notes |

        | --- | --- | --- | --- |

        | `LateID` | string (numeric) | Yes | Use **`"0"`** to create a new late
        record. Use an existing ID value to update an existing record. |

        | `AdminUserMasterID` | string (numeric) | Yes | Docor ID identifier. |

        | `LateDate` | string | Yes | Date string. Based on current usage:
        `d-MMM-yyyy` (example: `9-Feb-2026`). |

        | `LateTime` | string | Yes | Time string. Based on current usage:
        `HH:mm` 24-hour format (example: `11:27`). |

        | `Message` | string | Yes | Message/reason (free text). |


        ### Sample Request Body


        ``` json

        {
          "LateID": "0",
          "AdminUserMasterID": "1",
          "LateDate": "9-Feb-2026",
          "LateTime": "11:27",
          "Message": "Sorry running late"
        }

         ```

        In the above JSON, the `LateTime` is being displayed as `11:27` meaning
        that the doctor is going to be late by `27 minutes`. Assuming the doctor
        starts his clinic at 11:00.


        ## Success Response


        - **HTTP 200 OK**
            
        - **Body:** `1`
            

        Example:


        ``` text

        1

         ```
      operationId: insertlatedetails
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                AdminUserMasterID:
                  type: string
                  example: '1'
                LateDate:
                  type: string
                  example: 9-Feb-2026
                LateID:
                  type: string
                  example: '0'
                LateTime:
                  type: string
                  example: '11:27'
                Message:
                  type: string
                  example: Sorry running late
            examples:
              insertlatedetails:
                value:
                  AdminUserMasterID: '1'
                  LateDate: 9-Feb-2026
                  LateID: '0'
                  LateTime: '11:27'
                  Message: Sorry running late
      responses:
        '200':
          description: ''
      security:
        - {}
  /updateappointmentstatusex:
    get:
      summary: updateappointmentstatusex
      description: >-
        ### Purpose


        Updates the **check-in / check-out (in/out) status** for one or more
        appointment bookings.


        This endpoint returns a simple success indicator (see **Response**).


        ---


        ### Method & URL


        `GET {{baseUrl}}/updateappointmentstatusex`


        ---


        ### Query parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `AppointmentBookingIDs` | string | Yes | Appointment Booking IDs to
        update. Often a single ID (e.g., `7874`). |

        | `UserInOut` | integer | Yes | The value is always `1` |

        | `InOutStatus` | string | Yes | The target status. Common values: `In`
        or `Out` (case sensitive) |


        ---


        ### Example call


        ``` http

        GET
        https://d300b.twidget.io/updateappointmentstatusex?AppointmentBookingIDs=7874&UserInOut=1&InOutStatus=Out

         ```

        ---


        ### Response


        - **200 OK**: The response body may be a simple scalar value.
            
            - `1`
                
            - `1` indicates success (implementation-specific).
                

        ### Notes


        - This endpoint performs an update while using `GET` (side effect). If
        you experience caching/proxy issues, ensure intermediaries do not cache
        this request.
            
        - If updates fail, validate that the appointment booking ID(s) exist and
        that `InOutStatus` matches the allowed values in your system.
      operationId: updateappointmentstatusex
      parameters:
        - name: AppointmentBookingIDs
          in: query
          schema:
            type: string
            example: '7874'
        - name: UserInOut
          in: query
          schema:
            type: string
            example: '1'
        - name: InOutStatus
          in: query
          schema:
            type: string
            example: Out
      responses:
        '200':
          description: updateappointmentstatusex / updateappointmentstatusex
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1'
            Date:
              schema:
                type: string
                example: Sat, 28 Feb 2026 07:16:10 GMT
            ETag:
              schema:
                type: string
                example: W/"1-NWoZK3kTsExUV00Ywo1G5jlUKKs"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/octet-stream:
              examples:
                updateappointmentstatusex:
                  value: '1'
  /deleteappointmentwithcustommessage:
    get:
      summary: deleteappointmentwithcustommessage
      description: >-
        ## Purpose


        Deletes/cancels an existing appointment identified by
        `AppointmentBookingID` and associates a human-readable cancellation
        reason/message (`CustomMessage`).


        This request uses **query parameters** (no request body).


        ---


        ## Endpoint


        `GET /deleteappointmentwithcustommessage`


        Base URL (as currently configured):  

        `https://d300b.twidget.io`


        ---


        ## Query parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `AppointmentBookingID` | number (integer) | Yes | The unique
        booking/appointment identifier to delete/cancel. |

        | `CustomMessage` | string | Yes | Message to store/log/send (e.g.,
        reason for cancellation). |


        ### Encoding / URL notes


        - Because `CustomMessage` is placed in the URL, it must be
        **URL-encoded**.
            
            - Spaces should be encoded as (or `+`, depending on encoding).
                
            - Reserved characters such as `&`, `?`, `#`, `=` must be encoded to avoid breaking the query string.
                

        ---


        ## Example usage


        Query params:


        - `AppointmentBookingID`: `7868`
            
        - `CustomMessage`: `Sorry, I cannot make it`
            

        Full URL (as currently configured):


        ```

        https://d300b.twidget.io/deleteappointmentwithcustommessage?AppointmentBookingID=7868&CustomMessage=Sorry,%20I%20cannot%20make%20it

         ```

        ---


        ## Response


        ### Observed response


        - HTTP `200 OK`
            
        - Body: `0`
            

        ### Meaning of `0` and other possible responses


        The API’s response contract is **not documented here**, so the exact
        meaning of `0` is **unknown**.


        Based on common patterns, the body is a numeric status code such as:


        - 1 = success, or
            
        - `0` = failure/“not deleted”, or
      operationId: deleteappointmentwithcustommessage
      parameters:
        - name: AppointmentBookingID
          in: query
          schema:
            type: string
            example: '7868'
        - name: CustomMessage
          in: query
          schema:
            type: string
            example: Sorry, I cannot make it
      responses:
        '200':
          description: deleteappointmentwithcustommessage
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1'
            Date:
              schema:
                type: string
                example: Sat, 14 Feb 2026 13:26:31 GMT
            ETag:
              schema:
                type: string
                example: W/"1-NWoZK3kTsExUV00Ywo1G5jlUKKs"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/octet-stream:
              examples:
                deleteappointmentwithcustommessage:
                  value: '1'
  /deletemultipleappointments:
    get:
      summary: deletemultipleappointments
      description: >-
        ## Purpose


        Deletes (cancels/removes) one or more appointment bookings in the
        Qwicbook system.


        - **Endpoint:** `/deletemultipleappointments`
            
        - **Method:** `GET`
            

        ## Base URL


        ``` text

        https://d300b.twidget.io

         ```

        ## Query parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `AppointmentBookingIDs` | string | Yes | One or more appointment
        booking IDs to delete. This API name implies multiple IDs are supported
        (often comma-separated), e.g. `7838,7839`. |


        ## Example usage


        Single ID:


        ``` text

        GET
        https://d300b.twidget.io/deletemultipleappointments?AppointmentBookingIDs=7838

         ```

        Multiple IDs (if supported by your backend):


        ``` text

        GET
        https://d300b.twidget.io/deletemultipleappointments?AppointmentBookingIDs=7838,7839

         ```

        ## Responses


        ### `200 OK`


        The API returns a plain text / numeric body.


        Example response body: Greater than 0 meaning the appointment is
        deleted. If two apointments are deleted the response will be 2, so on
        and so forth


        ``` text

        1

         ```

        **Response meaning (common patterns):**


        - `0` indicates No appointments are deleted (error). Implementation
        return a count of deleted records instead.
            

        ## Cautions / notes


        - **Destructive operation:** This deletes/cancels appointments. Use with
        care, especially in production.
            
        - **GET used for deletion:** Although this endpoint uses `GET`, it
        performs a state-changing action. Be cautious when sharing URLs, saving
        them in history, or running monitors/automations.
            
        - **Multiple IDs format:** If multiple IDs are supported, verify the
        delimiter/format (comma-separated vs. repeated query params) in the
        backend implementation.
      operationId: deletemultipleappointments
      parameters:
        - name: AppointmentBookingIDs
          in: query
          schema:
            type: string
            example: '7838'
      responses:
        '200':
          description: deletemultipleappointments
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1'
            Date:
              schema:
                type: string
                example: Sat, 14 Feb 2026 13:36:07 GMT
            ETag:
              schema:
                type: string
                example: W/"1-NWoZK3kTsExUV00Ywo1G5jlUKKs"
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/octet-stream:
              examples:
                deletemultipleappointments:
                  value: '1'
  /getnextslot:
    get:
      summary: getnextslot
      description: >-
        Returns the **next available appointment slot** for a given service,
        using a reference date/time. The End Point returns either a 0 (when
        there are no slots available) or a value greater than 0 indicating that
        a slot is available. The response is an `APServiceTransactionID` which
        can be further queried to get details about the slots by a seperate End
        Point.


        ## Endpoint


        `GET /getnextslot`


        Base URL (as used in this collection):  

        `https://d300b.twidget.io`


        ## Query parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `APServiceId` | integer | Yes | Appointment/Service identifier to find
        availability for. Example: `1`. |

[...]
